/* no SCSS because it doesn't allow for CSS custom properties inside HSL :( */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  /* variables */
  --hue: 180;
  --bg-col: hsl(var(--hue), 100%, 75%);

  margin: 0;
  font-family: sans-serif;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5em 0.25em;
  z-index: 1;
  background-color: #fff;
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;
  font-family: 'Inconsolata', 'Courier New', monospace;
}

.main__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 2rem;
  /* fallback for browsers without custom prop support */
  background-color: hsl(327, 85%, 70%);
  background-color: var(--bg-col);
  color: #2c2c2c;
  transition: background-color 350ms;
}

.numfact__container {
  margin: auto auto 0;
  width: 100%;
  max-width: 80%;
  line-height: 1.5;
  text-align: center;
  opacity: 0;
  transform: translateY(5%);
}

.numfact__container.fade-in {
  opacity: 1;
  transition: opacity 350ms, transform 350ms;
  transform: translateY(0%);
}

.numfact__num {
  letter-spacing: 1px;
  position: relative;
  font-family: 'Yeseva One', sans-serif;
  display: block;
  font-size: 5rem; /* fallback for Edge */
  font-size: 8vmax;
  text-align: center;
  margin-bottom: 1.5rem;
}

.numfact__num::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 5px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
}

.numfact__num.slide-in::after {
  transform: scaleX(1);
  transition: transform 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.numfact__fact {
  font-size: 1.1rem; /* fallback for Edge */
  font-size: 5vmin;
  font-family: 'Inconsolata', 'Courier New', monospace;
  text-align: left;
}

.numfact__generate {
  margin-top: auto;
  padding: 0.75em 1em;
  border: 2px solid;
  background-color: transparent;
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 200ms, background-color 200ms;
}

.numfact__generate:focus,
.numfact__generate:hover {
  outline: none;
  background-color: #fff;
}

.numfact__generate:active {
  transform: translateY(2px);
}

.footer {
  padding: 1rem;
  background-color: #2c2c2c;
  text-align: center;
  line-height: 1.5;
  color: white;
  font-family: 'Inconsolata', 'Courier New', monospace;
  letter-spacing: 1px;
}

.footer__link {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 0.25em;
  text-decoration: none;
  color: #fff;
}

.footer__link:active {
  background-color: yellow;
}

.footer__link:hover,
.footer__link:focus {
  color: inherit;
}

.footer__link:focus {
  outline: none;
}

/* using this instead of box-shadow * background-color on the link since it's a smoother animation */
.footer__link::before,
.footer__link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  background-color: hsl(327, 85%, 70%);
  background-color: var(--bg-col);
}

.footer__link::before {
  z-index: -1;
  top: 0;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom left;
  transition: transform 200ms;
}

.footer__link::after {
  bottom: -3px;
  height: 3px;
  opacity: 1;
  transition: opacity 200ms;
}

.footer__link:hover::before,
.footer__link:focus::before {
  transform: scaleY(1);
}

.footer__link:hover::after,
.footer__link:focus::after {
  opacity: 0;
}

@media screen and (min-width: 27em) {
  body {
    padding: 5vmin;
  }

  h1 {
    top: 50%;
    right: 2rem;
    left: auto;
    transform: translateY(-50%) rotate(0);
  }

  .numfact__container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .numfact__num {
    margin-right: 0.5em;
    align-self: center;
    flex-shrink: 1;
    margin-bottom: 0;
  }

  .numfact__fact {
    flex-grow: 1;
    align-self: center;
    font-size: 3vmin;
  }

  .footer {
    background-color: transparent;
    color: #2c2c2c;
  }

  .footer__link {
    color: inherit;
  }
}

@media screen and (min-width: 75em) {
  .numfact__num {
    font-size: 6rem;
  }

  .numfact__fact {
    font-size: 1.35rem;
  }
}
